{% extends "network/layout.html" %}
{% load static %}

{% block extra_head %}
    <script src= {% static 'network/js/likes.js' %} type="text/javascript"></script>
    <title>{% block title %}Following{% endblock %}</title>
    <link rel="stylesheet" href= {% static 'network/css/post-section.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock extra_head %}

{% block body %}
    <div class="posts">
        {% for post in feed_posts %}
            <div class="post" id="post-{{ post.id }}">
                <div class="post-layout">
                    
                    <a href={% url 'view_profile' post.user %} class="user-profile-link">
                        <img src="{{ post.tweet_user_profile_pic }}" class="profile-pic small-post-section tweet-creator">
                    </a>
        
                    <!-- Actual post content (profile image, username, tweet, and image) -->
                    <div class="section-row"> 
                        <div class="tweet-details"> 
                            <div class="tweet-header">
                                <a href="{% url 'view_profile' post.user %}" class="user-profile-link">
                                    <input type="hidden" id="tweet-username" value="{{ users_profile.user }}">
                                    <p class="username-post">{{ post.username }}</p>
                                </a>
                                <p class="date-posted"> • {{ post.date_posted }}</p>
                            </div>
                            
                            <p class="tweet">{{ post.tweet }}</p>
                            
                            {% if post.tweet_image_url %}
                                <div class="tweet-details__image">
                                    <img src="{{ post.tweet_image_url }}" class="posted-tweet-picture">
                                </div>
                            {% endif %}

                            <!-- Edit/Delete a post (given creator is authenticated), Likes, Comments (give this div a class of "tweet-actions") -->
                            <div class="tweet-actions-post">
                                <div class="tweet-actions-section">
                                    <div class="like-section {% if post.has_liked %}liked{% endif %}">
                                        <!-- Like Button -->
                                        <button class="like-button {% if post.has_liked %}liked{% endif %}">
                                            <span class="material-symbols-outlined" data-tweet-id="{{ post.id }}">favorite</span>
                                        </button>
                                        <!-- Like Counter -->
                                        <span class="like-counter">
                                            {% if post.tweet_likes == 1 %}
                                                1 Like
                                            {% else %}
                                                {{ post.tweet_likes }} Likes
                                            {% endif %}
                                        </span>
                                    </div>
                                    
                                    <a href="{% url 'view_comments' post.id %}" class="comment-section-link">
                                        <div class="comment-section">
                                            <!-- Comment Button -->
                                            <button class="comment-button">
                                                <span class="material-symbols-outlined">chat_bubble</span>
                                            </button>
                                            <!-- Comment Counter -->
                                            <span class="comment-counter">
                                                {% if post.tweet_comments == 1 %}
                                                    1 Comment
                                                {% else %}
                                                    {{ post.tweet_comments }} Comments
                                                {% endif %}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}