{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user_profile %}
        <div class="post-section">
            <form id="tweet-form" method="post" enctype="multipart/form-data">
                <div class="post-section-row">
                    <a class="creator" href="{% url 'change_profile' %}"> 
                        <img src="{{ user_profile.profile_picture.url }}" class="profile-pic small-post-section" >
                    </a>
                    <textarea id="post-content" name="tweet" placeholder="What's Happening?" oninput="autoExpand(this); checkCharacterCount(this)"></textarea>
                </div>

                <!-- To display tweet image preview and delete functionality -->
                <div id="tweet-picture-preview">
                    <div class="image-container">
                    </div>
                </div>

                <div class="post-section-row">
                    <div class="error-message"></div>
                    <div class="tweet-actions">
                        <label for="tweet-picture" title="Upload Picture">
                            <span class="material-symbols-outlined image-button">photo_library</span>
                            <span class="tooltiptext">Upload Picture</span>
                        </label>        
                        <input type="file" id="tweet-picture" name="tweet-picture" class="file-input" accept="image/jpeg, image/png, image/gif, image/jpg" onchange="previewTweetImage(event)">                
                        <input type="submit" id="post-button" value="Post">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="posts">
        <!-- TODO: Clicking on a post should go to a separate page and show all comments, etc. -->
        <div class="post hidden">

            <!-- Actual post content (profile image, username, tweet, and image) -->
            <div class="section-row"> 
                <a href="{% url 'change_profile' %}">
                    <img src="{{ user_profile.profile_picture.url }}" class="profile-pic small-post-section tweet-creator">
                </a>
                <div class="tweet-details"> 
                    {% comment %} <a href="{% url 'view_profile' user.id %}">  {% endcomment %}
                        <input type="hidden" id="tweet-username" value="{{ user_profile.user }}">
                        <p class="username"></p>
                    {% comment %} </a> {% endcomment %}
                    <p class="tweet"></p>
                    <img src="" class="posted-tweet-picture">
                </div>
            </div>

            <!-- Edit/Delete a post (given creator is authenticated), Likes, Comments (give this div a class of "tweet-actions") -->
            <div class="section-row tweet-actions">
                <div class="dropdown">
                    <button class="dropdown-toggle" id="edit-post">
                        <span class="material-symbols-outlined">more_horiz</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Edit Post</a>
                        <a class="dropdown-item" href="#">Delete Post</a>
                    </div>
                </div>

                <div class="like-section">
                    <!-- Like Button -->
                    <button class="like-button">
                        <span class="material-symbols-outlined">favorite</span>
                        <span class="tooltiptext">Like</span>
                    </button>
                    <!-- Like Counter -->
                    <span class="like-counter">0 Likes</span>
                </div>
                
                <div class="comment-section">
                    <!-- Comment Button -->
                    <button class="comment-button">
                        <span class="material-symbols-outlined">chat_bubble</span>
                        <span class="tooltiptext">Comment</span>
                    </button>
                    <!-- Comment Counter -->
                    <span class="like-counter">0 Comments</span>
                </div>
            </div>

        </div>
    </div>

    {% block extra_head %}
        <script src= {% static 'network/js/posts.js' %} type="text/javascript"></script>
        <link rel="stylesheet" href= {% static 'network/css/post-section.css' %}>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% endblock extra_head %}

{% endblock %}