{% extends "network/layout.html" %}
{% load static %}

{% block extra_head %}
    <title>{% block title %}Tweetify{% endblock %}</title>
    <script src= {% static 'network/js/posts.js' %} type="text/javascript"></script>
    <script src= {% static 'network/js/edit-post.js' %} type="text/javascript"></script>
    <script src= {% static 'network/js/likes.js' %} type="text/javascript"></script>
    <link rel="stylesheet" href= {% static 'network/css/post-section.css' %}>
    <link rel="stylesheet" href= {% static 'network/css/editing-post.css' %}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock extra_head %}

{% block body %}
    {% if user_profile %}
        <div class="post-section">
            <form id="tweet-form" method="post" enctype="multipart/form-data">
                <div class="post-section-row">
                    <a class="creator" href="{% url 'change_profile' %}"> 
                        <img src="{{ user_profile.profile_picture.url }}" class="profile-pic small-post-section" >
                    </a>
                    <textarea id="post-content" name="tweet" placeholder="What's Happening?" oninput="autoExpand(this); checkCharacterCount(this)"></textarea>
                </div>

                <!-- To display tweet image preview and delete functionality -->
                <div id="tweet-picture-preview">
                    <div class="image-container">
                    </div>
                </div>

                <div class="post-section-row">
                    <div class="error-message"></div>
                    <div class="tweet-actions">
                        <label for="tweet-picture" title="Upload Picture">
                            <span class="material-symbols-outlined image-button">photo_library</span>
                            <span class="tooltiptext">Upload Picture</span>
                        </label>        
                        <input type="file" id="tweet-picture" name="tweet-picture" class="file-input" accept="image/jpeg, image/png, image/gif, image/jpg" onchange="previewTweetImage(event)">                
                        <input type="submit" id="post-button" value="Post">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}

    <div class="posts">
        <div class="post hidden">
            <div class="post-layout">
                <a class="user-profile-link" href=""> 
                    <img src="" class="profile-pic small-post-section tweet-creator">
                </a>

                <!-- Actual post content (profile image, username, tweet, and image) -->
                <div class="section-row"> 
                    <div class="tweet-details"> 
                        <div class="tweet-header">
                            <a class="user-profile-link" href=""> 
                                <input type="hidden" id="tweet-username" value="{{ user_profile.user }}">
                                <p class="username-post"></p>
                            </a>
                            <p class="date-posted"></p>
                        </div>
                        
                        <p class="tweet"></p>
                        
                        <div class="tweet-details__image" id="tweet-image-container">
                            <img src="" class="posted-tweet-picture" id="tweet-picture-editing">
                        </div>

                        <!-- Edit/Delete a post (given creator is authenticated), Likes, Comments (give this div a class of "tweet-actions") -->
                        <div class="tweet-actions-post">
                            <div class="tweet-actions-section">
                                <div class="edit-section">
                                    <!-- Edit Button -->
                                    <button class="edit-button">
                                        <span class="material-symbols-outlined edit">edit_square</span>
                                    </button>
                                </div>

                                <div class="like-section">
                                    <!-- Like Button -->
                                    <button class="like-button">
                                        <span class="material-symbols-outlined">favorite</span>
                                    </button>
                                    <!-- Like Counter -->
                                    <span class="like-counter"></span>
                                </div>
                                
                                <a href="" class="comment-section-link">
                                    <div class="comment-section">
                                        <!-- Comment Button -->
                                        <button class="comment-button">
                                            <span class="material-symbols-outlined">chat_bubble</span>
                                        </button>
                                        <!-- Comment Counter -->
                                        <span class="comment-counter"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}