{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="width=device-width, maximum-scale=1.0, user-scalable=no" name="viewport">
        <title>{% block title %}Tweetify{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{% static "icons/bird-logo.png" %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/css/styles.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <div class="navbar-section">
            <header>
                <!-- TODO: Make this link go to a page describing what this site is about-->
                <div class="left-section navbar">
                    <a class="logo" href="#">        
                        <img class="icon" src={% static "icons/bird-logo.png" %}>
                        <span class="app-name">Tweetify</span> 
                    </a>

                    {% if not user.is_authenticated %}
                        <a href="{% url 'index' %}" class="nav-link home">
                            <div class="remix-icon-item">
                                <i class="remix-icon ri-home-4-line"></i>
                                <p>Home</p>
                            </div>  
                        </a>
                    {% endif %}
                </div>
                
            
                <ul class="navbar">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'index' %}" class="nav-link">
                                <div class="remix-icon-item">
                                    <i class="remix-icon ri-home-4-line"></i>
                                    <p>Home</p>
                                </div>  
                            </a>
                        </li>
                        <li> 
                            <a href="#" class="nav-link">
                                <div class="remix-icon-item">
                                    <i class="remix-icon ri-team-line"></i>
                                    <p>Following</p>
                                </div>  
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="nav-link">
                                <div class="remix-icon-item">
                                    <i class="remix-icon ri-logout-box-r-line"></i>
                                    <p>Logout</p>
                                </div>  
                            </a>
                        </li>
                    {% endif %}
                </ul>
        
                <div class="authentication-actions">
                    {% if user.is_authenticated %}
                        <!-- TODO: Add profile picture functionality by visiting profile page-->
                
                            <!-- TODO: Implement light and dark mode later -->
                            {% comment %} <i class="ri-sun-line"></i> {% endcomment %}

              
                                <!-- TODO: Change this to an actual profile picture later-->
                            <a class="profile-image-link" href="{% url 'change_profile' %}">  
                                <div>
                                    <img src="{{ user_profile.profile_picture.url }}" class="profile-pic small" >
                                </div>
                            </a>

                            <a class="username" href="{% url 'change_profile' %}">
                                {{ user.username }}
                            </a>  
                    {% else %} 
                        <a href="{% url 'login' %}" class="user">
                            <div class="remix-icon-item">
                                <i class="remix-icon ri-account-circle-line"></i>
                                <p>Login</p>
                            </div>  
                        </a>
                        <a href="{% url 'register' %}" class="register">Sign Up</a> 
                    {% endif %}
                </div>
            </header>
        </div>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>