{% extends "network/layout.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href= "{% static 'network/css/authentication-forms.css' %}">
{% endblock extra_head %}

{% block body %}

     <!-- To display error message -->
     {% if messages %}
        {% for message in messages %}
            <br>
                <div class="{{ message.tags }} alert alert-danger" role="alert">{{ message }}</div> 
        {% endfor %}
    {% endif %}


    <!--Form section-->
    <div class="sign-up-section">
        <h2 class="title text-center">Sign Up</h2>
        <div class="sign-up-card">

            <form action= "{% url 'register' %}" method="POST" enctype='multipart/form-data' class='form'>

                {% csrf_token %}
                
                <div class="input-group">
                    <img class="icon" src={% static "icons/profile-user.svg" %}>
                    {{register_form.username}}
                </div>
                <div class="input-group">
                    <img class="icon" src={% static "icons/key.svg" %}>
                    {{register_form.password}}
                </div>
                <!-- The confirmation will not be part of the Model form, rather just something else to input and compare -->
                <div class="input-group">
                    <img class="icon" src={% static "icons/key.svg" %}>
                    <input type="password" name="confirmation" class="form-control" placeholder="Confirm Password">
                </div>
                <div class="input-group">
                    <img class="icon" src={% static "icons/envelope.png" %}>
                    {{register_form.email}}
                </div>
                <div class="input-group">
                    <input class="btn btn-primary create-button" type="submit" value="Create Account">
                </div>

            </form>
        </div>
    </div>
{% endblock %}