{% extends 'network/layout.html' %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'network/css/profile-page.css' %}" rel="stylesheet">
    <script src= {% static 'network/js/user-profile.js' %} type="text/javascript"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title> {% block title %}{{ users_profile.user }}{% endblock title %} </title>
{% endblock extra_head %}

{% block body %}
    <div class="profile-layout">
        <div class="profile-header">
            <img src="{{ users_profile.profile_picture.url }}" class="profile-pic large">
            <div class="user-stats">
                <span class="followers">{{ followers_count }} Followers</span>
                <span class="following">{{ following_count }} Following</span>
            </div>
        </div>

        <div class="user-details">
            <span class="user-username">{{ users_profile.user.username }}</span>
            {% if users_profile.bio %}
                <span class="user-bio">{{ users_profile.bio }}</span>
            {% endif %}
        </div>

        {% if user_profile.user.username == users_profile.user.username %}
            <div class="action-section">
                <a href="{% url 'change_profile' %}">
                    <button class="action-button">Edit Profile</button>
                </a>
            </div>
        {% else %}
            <div class="action-section">
                <button class="action-button {% if user_profile and users_profile.user.username in current_user_following %} following-button {% endif %}">
                    {% if user_profile and users_profile.user.username in current_user_following %}
                        Following
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </div>
        {% endif %}

        <div class="user-tweets">
            {% if users_tweets %}
                {% for tweet in users_tweets %}
                    <div class="post">
                        <div class="post-layout">
                            
                            <img src="{{ users_profile.profile_picture.url }}" class="profile-pic small-post-section tweet-creator">
                
                            <!-- Actual post content (profile image, username, tweet, and image) -->
                            <div class="section-row"> 
                                <div class="tweet-details"> 
                                    <div class="tweet-header">
                                        <input type="hidden" id="tweet-username" value="{{ users_profile.user }}">
                                        <p class="username-post">{{ users_profile.user.username }}</p>
                                        <p class="date-posted"> • {{ tweet.date_posted }}</p>
                                    </div>
                                    
                                    <p class="tweet">{{ tweet.tweet }}</p>
                                    
                                    {% if tweet.image %}
                                        <div class="tweet-details__image">
                                            <img src="{{ tweet.image.url }}" class="posted-tweet-picture">
                                        </div>
                                    {% endif %}

                                    <!-- Edit/Delete a post (given creator is authenticated), Likes, Comments (give this div a class of "tweet-actions") -->
                                    <div class="tweet-actions-post">
                                        <div class="tweet-actions-section">
                                            {% if user_profile.user.username == users_profile.user.username %}
                                                <div class="edit-section">
                                                    <!-- Edit Button -->
                                                    <button class="edit-button">
                                                        <span class="material-symbols-outlined">edit_square</span>
                                                    </button>
                                                </div>
                                            {% endif %}

                                            <div class="like-section">
                                                <!-- Like Button -->
                                                <button class="like-button">
                                                    <span class="material-symbols-outlined">favorite</span>
                                                </button>
                                                <!-- Like Counter -->
                                                <span class="like-counter">{{ tweet.likes }} Likes</span>
                                            </div>
                                            
                                            <div class="comment-section">
                                                <!-- Comment Button -->
                                                <button class="comment-button">
                                                    <span class="material-symbols-outlined">chat_bubble</span>
                                                </button>
                                                <!-- Comment Counter -->
                                                <span class="comment-counter">{{ tweet.comments_count }} Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div> 
{% endblock body %}