@import "./styles.css";

.comment-form {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 450px;
    max-width: 625px;

    border-radius: .5rem;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);  
    padding: 1.5rem;
    background-color: white;
}

#comment-content {
    padding: 0rem 0.7rem;
    border: none;
    width: 100%;
    font-size: 1rem;
    resize: none;
}

#comment-content:focus {
    outline: none;
}

.comment-section-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#post-button-comment {
    background-color: var(--main-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 0.9rem;
    border: none;
    padding: 0.3rem 0.8rem;
    transition: background-color 0.3s;
}

#post-button-comment:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

#post-button-comment:focus {
    outline: none !important;
    border: none;
}

.comment-template {
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 450px;
    max-width: 625px;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    padding: 1.5rem;
    justify-content: space-between;
    background-color: #f2f9ff;
    /* #c3dff7 */
}

.comment-layout {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.comment__row {
    min-width: 90%;
}

.comment-details {
    display: flex;
    flex-direction: column;
}

.comment-header {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    /* justify-content: space-between; */
}

.comment {
    margin-top: 0.3rem;
    max-width: 95%;
}

.commentor {
    margin-top: 0.4rem;
}

.comment-template.hidden {
    display: none;
}

.username-comment {
    width: max-content;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;
    color: var(--bg-color);
}

.comment-header-details {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.delete-button {
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.delete-button:hover {
    color: red;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    cursor: pointer;
}

.delete-button:focus {
    outline: none !important;
    border: none;
}