html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    text-decoration: none;
    list-style: none;
    /* overflow: hidden; */
    box-sizing: border-box;
}

body {
    padding-top: 3rem;
}

/* Styles for 'light/grey' mode currently */
:root {
    --font-family: 'Poppins', sans-serif;
    --bg-color: rgb(43, 42, 42);
    --text-color: #f3f3f3;
    --main-color: rgb(65, 142, 197);
    --main-color-focus: rgb(51, 112, 155);
    --body-bg-color: #E7E7E7;
}

a, .app-name, .username {
    font-family: var(--font-family);
    color: var(--text-color);
    
    font-size: 1.1rem;
    font-weight: 300;
}

.logo {
    text-decoration: none !important;
  }

/* Header/navbar styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3.5rem;
    min-height: 3rem;
    max-height: 4rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all .50s ease;
}

.navbar {
    display: flex;
}

.nav-link {
    padding: 5px 0;
    margin: 0 30px;
    transition: all 0.5s ease;
}

.username {
    margin: 0 0.9rem;
}

.user, .register, .app-name, .username {
    transition: all 0.5s ease;
    cursor: pointer;
}

.nav-link:hover, .logo .app-name:hover, .user:hover, .register:hover, .username:hover {
    color: var(--main-color);
    text-decoration: none;
}

.authentication-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image-link {
    margin-left: 0px;
    margin-right: 0px;
}

.user, .register {
    margin-right: 12px;
    margin-left: 12px;
}

.left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Profile picture styles */
.profile-pic {
    border-radius: 50%;
}

.regular {
    width: 3.9rem;
    height: 3.9rem;
}

.small {
    width: 2.3rem;
    height: 2.3rem;
}

.small-post-section {
    width: 2.9rem;
    height: 2.9rem;
}

.large {
    width: 8rem;
    height: 8rem;
}

/* Icon styles */
.icon {
    padding-right: 0.9rem;
}

.logo {
    display: flex;
    align-items: center;
}

.remix-icon-item {
    display: flex;
    /* justify-content: space-between; */
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.remix-icon-item p {
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
}

.remix-icon {
    font-size: 22px;
    padding-right: 0.5rem;
    vertical-align: -5px;
}

/* To allow the body and the navbar to have space in between */
.body {
    margin-top: 3.5rem;
}

.active {
    color: var(--main-color-focus);
}